* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background: peachpuff;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: fit-content;
}

#horiseon {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 100%;
    max-height: 50%;
}


.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.contact {
    background: #333;
    font-size: 18px;
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: peru;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-left h3 {
    color: black;
    font-weight: 200;
    margin-bottom: 30px;
}


.contact p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input{  
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #333;
}

button {
    background: #333;
    width: 200px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    margin-top: 20px;
    box-shadow: 0px 5px 3px 0px black;
}

button:hover {
    font-size: 105%;
    text-emphasis: bold;
}

button:active {
    font-size: 100%;
}

.navbar {
    background: #333;
    height: 60px;
}


.nav

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: orange;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
    list-style: none;
}



.header {
    background-color: peru;
    color: white;
    text-align: left;
    min-height: 200px;
    width: 100%;
    
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-right: -30px;
    max-width: 25%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.boxes .container {
    display: flex;
    justify-content: space-between;
}




.box {
    flex: 1;
    background: tan;
    color: white;
    border-radius: 15px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px black;
    padding: 15px 20px;
}



footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #333;
    color: #fff;
    text-align: left;
  }

@media screen and (max-width: 992px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      width: 50%;
    }

    .boxes .container {
        display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      width: 100%;
    }
   
    .boxes .container {
        display: block;
    }
  }